.cms-content-toolbar .cms-actions-buttons-row #Form_AddSiteForm {
	display: inline-block;
}
.cms-content-toolbar .cms-actions-buttons-row #Form_AddSiteForm .Actions {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}

.MultisitesCMSPageAddController #ParentID {
	margin-top: 10px;
}

.MultisitesCMSPageAddController .parent-mode {
	display: none;
}

#pages-controller-cms-content .cms-panel-padded,
#pages-controller-cms-content .cms-content-tools .cms-panel-content {
	padding-top: 16px;
}
