.cms-content-tools #cms-content-treeview #Form_AddSiteForm {
	display: none;
}

.MultisitesCMSPageAddController #ParentID {
	margin-top: 10px;
}

.MultisitesCMSPageAddController .parent-mode {
	display: none;
}

#pages-controller-cms-content .cms-panel-padded,
#pages-controller-cms-content .cms-content-tools .cms-panel-content {
	padding-top: 16px;
}
